# Importing the libraries

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
tf.__version__

'2.5.0'

# Importing the dataset

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [4]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [8]:
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [9]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [10]:
print(y)

[1 0 1 ... 1 1 0]

# Encoding the categorical data

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [12]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

# One-hot encoding of Countries

In [13]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [14]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

# Split the dataset into training set and test set

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Feature Scaling

In [16]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [17]:
print(X_train)

[[-1.01460667 -0.5698444   1.74309049 ...  0.64259497 -1.03227043
   1.10643166]
 [-1.01460667  1.75486502 -0.57369368 ...  0.64259497  0.9687384
  -0.74866447]
 [ 0.98560362 -0.5698444  -0.57369368 ...  0.64259497 -1.03227043
   1.48533467]
 ...
 [ 0.98560362 -0.5698444  -0.57369368 ...  0.64259497 -1.03227043
   1.41231994]
 [-1.01460667 -0.5698444   1.74309049 ...  0.64259497  0.9687384
   0.84432121]
 [-1.01460667  1.75486502 -0.57369368 ...  0.64259497 -1.03227043
   0.32472465]]

In [18]:
print(X_test)

[[-1.01460667  1.75486502 -0.57369368 ...  0.64259497  0.9687384
   1.61085707]
 [ 0.98560362 -0.5698444  -0.57369368 ...  0.64259497 -1.03227043
   0.49587037]
 [-1.01460667 -0.5698444   1.74309049 ...  0.64259497  0.9687384
  -0.42478674]
 ...
 [-1.01460667 -0.5698444   1.74309049 ...  0.64259497 -1.03227043
   0.71888467]
 [-1.01460667  1.75486502 -0.57369368 ...  0.64259497  0.9687384
  -1.54507805]
 [-1.01460667  1.75486502 -0.57369368 ...  0.64259497 -1.03227043
   1.61255917]]

# Building the ANN

In [19]:
ann = tf.keras.models.Sequential()

In [20]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [21]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [22]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Compile the ANN

In [23]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Train the ANN on the training set

In [24]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 0s 584us/step - loss: 0.5380 - accuracy: 0.7444
Epoch 2/100
250/250 [==============================] - 0s 618us/step - loss: 0.4620 - accuracy: 0.8040
Epoch 3/100
250/250 [==============================] - 0s 627us/step - loss: 0.4429 - accuracy: 0.8101
Epoch 4/100
250/250 [==============================] - 0s 606us/step - loss: 0.4308 - accuracy: 0.8131
Epoch 5/100
250/250 [==============================] - 0s 607us/step - loss: 0.4185 - accuracy: 0.8196
Epoch 6/100
250/250 [==============================] - 0s 610us/step - loss: 0.4051 - accuracy: 0.8275
Epoch 7/100
250/250 [==============================] - 0s 602us/step - loss: 0.3904 - accuracy: 0.8372
Epoch 8/100
250/250 [==============================] - 0s 627us/step - loss: 0.3781 - accuracy: 0.8443
Epoch 9/100
250/250 [==============================] - 0s 631us/step - loss: 0.3699 - accuracy: 0.8460
Epoch 10/100
250/250 [==============================] - 0s 574us/step - loss: 0.3644 - accuracy: 0.8480
Epoch 11/100
250/250 [==============================] - 0s 574us/step - loss: 0.3606 - accuracy: 0.8505
Epoch 12/100
250/250 [==============================] - 0s 577us/step - loss: 0.3579 - accuracy: 0.8490
Epoch 13/100
250/250 [==============================] - 0s 578us/step - loss: 0.3557 - accuracy: 0.8526
Epoch 14/100
250/250 [==============================] - 0s 586us/step - loss: 0.3540 - accuracy: 0.8520
Epoch 15/100
250/250 [==============================] - 0s 586us/step - loss: 0.3522 - accuracy: 0.8545
Epoch 16/100
250/250 [==============================] - 0s 622us/step - loss: 0.3505 - accuracy: 0.8561
Epoch 17/100
250/250 [==============================] - 0s 614us/step - loss: 0.3496 - accuracy: 0.8565
Epoch 18/100
250/250 [==============================] - 0s 606us/step - loss: 0.3479 - accuracy: 0.8584
Epoch 19/100
250/250 [==============================] - 0s 598us/step - loss: 0.3470 - accuracy: 0.8558
Epoch 20/100
250/250 [==============================] - 0s 667us/step - loss: 0.3455 - accuracy: 0.8601
Epoch 21/100
250/250 [==============================] - 0s 697us/step - loss: 0.3445 - accuracy: 0.8584
Epoch 22/100
250/250 [==============================] - 0s 815us/step - loss: 0.3436 - accuracy: 0.8589
Epoch 23/100
250/250 [==============================] - 0s 582us/step - loss: 0.3428 - accuracy: 0.8606
Epoch 24/100
250/250 [==============================] - 0s 518us/step - loss: 0.3423 - accuracy: 0.8596
Epoch 25/100
250/250 [==============================] - 0s 602us/step - loss: 0.3420 - accuracy: 0.8604
Epoch 26/100
250/250 [==============================] - 0s 582us/step - loss: 0.3410 - accuracy: 0.8615
Epoch 27/100
250/250 [==============================] - 0s 719us/step - loss: 0.3402 - accuracy: 0.8621
Epoch 28/100
250/250 [==============================] - 0s 751us/step - loss: 0.3398 - accuracy: 0.8616
Epoch 29/100
250/250 [==============================] - 0s 546us/step - loss: 0.3392 - accuracy: 0.8610
Epoch 30/100
250/250 [==============================] - 0s 590us/step - loss: 0.3386 - accuracy: 0.8627
Epoch 31/100
250/250 [==============================] - 0s 618us/step - loss: 0.3380 - accuracy: 0.8636
Epoch 32/100
250/250 [==============================] - 0s 590us/step - loss: 0.3380 - accuracy: 0.8629
Epoch 33/100
250/250 [==============================] - 0s 570us/step - loss: 0.3373 - accuracy: 0.8624
Epoch 34/100
250/250 [==============================] - 0s 582us/step - loss: 0.3366 - accuracy: 0.8624
Epoch 35/100
250/250 [==============================] - 0s 578us/step - loss: 0.3365 - accuracy: 0.8619
Epoch 36/100
250/250 [==============================] - 0s 550us/step - loss: 0.3364 - accuracy: 0.8636
Epoch 37/100
250/250 [==============================] - 0s 578us/step - loss: 0.3357 - accuracy: 0.8641
Epoch 38/100
250/250 [==============================] - 0s 602us/step - loss: 0.3355 - accuracy: 0.8626
Epoch 39/100
250/250 [==============================] - 0s 570us/step - loss: 0.3352 - accuracy: 0.8641
Epoch 40/100
250/250 [==============================] - 0s 574us/step - loss: 0.3354 - accuracy: 0.8630
Epoch 41/100
250/250 [==============================] - 0s 594us/step - loss: 0.3345 - accuracy: 0.8619
Epoch 42/100
250/250 [==============================] - 0s 594us/step - loss: 0.3343 - accuracy: 0.8618
Epoch 43/100
250/250 [==============================] - 0s 582us/step - loss: 0.3344 - accuracy: 0.8639
Epoch 44/100
250/250 [==============================] - 0s 546us/step - loss: 0.3341 - accuracy: 0.8625
Epoch 45/100
250/250 [==============================] - 0s 590us/step - loss: 0.3339 - accuracy: 0.8645
Epoch 46/100
250/250 [==============================] - 0s 562us/step - loss: 0.3337 - accuracy: 0.8644
Epoch 47/100
250/250 [==============================] - 0s 566us/step - loss: 0.3336 - accuracy: 0.8639
Epoch 48/100
250/250 [==============================] - 0s 562us/step - loss: 0.3329 - accuracy: 0.8649
Epoch 49/100
250/250 [==============================] - 0s 578us/step - loss: 0.3330 - accuracy: 0.8651
Epoch 50/100
250/250 [==============================] - 0s 578us/step - loss: 0.3322 - accuracy: 0.8654
Epoch 51/100
250/250 [==============================] - 0s 574us/step - loss: 0.3322 - accuracy: 0.8639
Epoch 52/100
250/250 [==============================] - 0s 594us/step - loss: 0.3321 - accuracy: 0.8630
Epoch 53/100
250/250 [==============================] - 0s 622us/step - loss: 0.3326 - accuracy: 0.8639
Epoch 54/100
250/250 [==============================] - 0s 639us/step - loss: 0.3322 - accuracy: 0.8641
Epoch 55/100
250/250 [==============================] - 0s 598us/step - loss: 0.3315 - accuracy: 0.8662
Epoch 56/100
250/250 [==============================] - 0s 590us/step - loss: 0.3311 - accuracy: 0.8616
Epoch 57/100
250/250 [==============================] - 0s 590us/step - loss: 0.3313 - accuracy: 0.8639
Epoch 58/100
250/250 [==============================] - 0s 578us/step - loss: 0.3311 - accuracy: 0.86370s - loss: 0.3331 - accuracy: 0.86
Epoch 59/100
250/250 [==============================] - 0s 578us/step - loss: 0.3311 - accuracy: 0.8641
Epoch 60/100
250/250 [==============================] - 0s 572us/step - loss: 0.3306 - accuracy: 0.8636
Epoch 61/100
250/250 [==============================] - 0s 578us/step - loss: 0.3307 - accuracy: 0.8630
Epoch 62/100
250/250 [==============================] - 0s 578us/step - loss: 0.3306 - accuracy: 0.8645
Epoch 63/100
250/250 [==============================] - 0s 586us/step - loss: 0.3305 - accuracy: 0.8643
Epoch 64/100
250/250 [==============================] - 0s 586us/step - loss: 0.3303 - accuracy: 0.8616
Epoch 65/100
250/250 [==============================] - 0s 659us/step - loss: 0.3305 - accuracy: 0.8629
Epoch 66/100
250/250 [==============================] - 0s 622us/step - loss: 0.3301 - accuracy: 0.8641
Epoch 67/100
250/250 [==============================] - 0s 594us/step - loss: 0.3302 - accuracy: 0.8640
Epoch 68/100
250/250 [==============================] - 0s 574us/step - loss: 0.3301 - accuracy: 0.8641
Epoch 69/100
250/250 [==============================] - 0s 574us/step - loss: 0.3302 - accuracy: 0.8649
Epoch 70/100
250/250 [==============================] - 0s 578us/step - loss: 0.3296 - accuracy: 0.8631
Epoch 71/100
250/250 [==============================] - 0s 566us/step - loss: 0.3295 - accuracy: 0.8640
Epoch 72/100
250/250 [==============================] - 0s 566us/step - loss: 0.3300 - accuracy: 0.8639
Epoch 73/100
250/250 [==============================] - 0s 570us/step - loss: 0.3294 - accuracy: 0.8626
Epoch 74/100
250/250 [==============================] - 0s 566us/step - loss: 0.3300 - accuracy: 0.8649
Epoch 75/100
250/250 [==============================] - 0s 566us/step - loss: 0.3296 - accuracy: 0.8645
Epoch 76/100
250/250 [==============================] - 0s 566us/step - loss: 0.3300 - accuracy: 0.8646
Epoch 77/100
250/250 [==============================] - 0s 566us/step - loss: 0.3293 - accuracy: 0.8633
Epoch 78/100
250/250 [==============================] - 0s 586us/step - loss: 0.3292 - accuracy: 0.8645
Epoch 79/100

250/250 [==============================] - 0s 606us/step - loss: 0.3291 - accuracy: 0.8641
Epoch 80/100
250/250 [==============================] - 0s 614us/step - loss: 0.3300 - accuracy: 0.8649
Epoch 81/100
250/250 [==============================] - 0s 582us/step - loss: 0.3296 - accuracy: 0.8641
Epoch 82/100
250/250 [==============================] - 0s 574us/step - loss: 0.3293 - accuracy: 0.8627
Epoch 83/100
250/250 [==============================] - 0s 574us/step - loss: 0.3293 - accuracy: 0.8641
Epoch 84/100
250/250 [==============================] - 0s 586us/step - loss: 0.3290 - accuracy: 0.8658
Epoch 85/100
250/250 [==============================] - 0s 570us/step - loss: 0.3288 - accuracy: 0.8665
Epoch 86/100
250/250 [==============================] - 0s 578us/step - loss: 0.3288 - accuracy: 0.8637
Epoch 87/100
250/250 [==============================] - 0s 574us/step - loss: 0.3288 - accuracy: 0.8633
Epoch 88/100
250/250 [==============================] - 0s 602us/step - loss: 0.3281 - accuracy: 0.8645
Epoch 89/100
250/250 [==============================] - ETA: 0s - loss: 0.3250 - accuracy: 0.86 - 0s 598us/step - loss: 0.3289 - accuracy: 0.8644
Epoch 90/100
250/250 [==============================] - 0s 594us/step - loss: 0.3284 - accuracy: 0.8641
Epoch 91/100
250/250 [==============================] - 0s 610us/step - loss: 0.3288 - accuracy: 0.8634
Epoch 92/100
250/250 [==============================] - 0s 586us/step - loss: 0.3283 - accuracy: 0.8652
Epoch 93/100
250/250 [==============================] - 0s 675us/step - loss: 0.3287 - accuracy: 0.8636
Epoch 94/100
250/250 [==============================] - 0s 554us/step - loss: 0.3286 - accuracy: 0.8648
Epoch 95/100
250/250 [==============================] - 0s 562us/step - loss: 0.3286 - accuracy: 0.8645
Epoch 96/100
250/250 [==============================] - 0s 562us/step - loss: 0.3277 - accuracy: 0.8633
Epoch 97/100
250/250 [==============================] - 0s 578us/step - loss: 0.3285 - accuracy: 0.8641
Epoch 98/100
250/250 [==============================] - 0s 590us/step - loss: 0.3282 - accuracy: 0.8650
Epoch 99/100
250/250 [==============================] - 0s 602us/step - loss: 0.3289 - accuracy: 0.8641
Epoch 100/100
250/250 [==============================] - 0s 695us/step - loss: 0.3277 - accuracy: 0.8651

# Predicting the test set results

In [25]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

# Making the confusion matrix

In [26]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1506   89]
 [ 184  221]]

0.8635